
/PacmanQLearning/__pycache__
/MichalFirstHandIn/__pycache__
/MichalFirstHandIn/__pycache__
/MichalFirstHandIn/__pycache__
/MichalFirstHandIn/__pycache__
/MichalFirstHandIn/__pycache__
/PacmanQLearningAlex
/ExerciseSession9/code/__pycache__
/PacmanQLearningMichal/__pycache__
/PacmanQLearningMichal/__pycache__
/PacmanQLearningMichalOLD/__pycache__
/PacmanQLearningMichal/code/__pycache__
/PacmanQLearningMichal/__pycache__
/PacmanQLearningMichal2/code/__pycache__
